.octocat-sm { font-size: $size-sm; }
.octocat-md { font-size: $size-md; }
.octocat-lg { font-size: $size-lg; }
.octocat-x-lg { font-size: $size-x-lg; }
.octocat-xx-lg { font-size: $size-xx-lg; }
.octocat-xxx-lg { font-size: $size-xxx-lg; }